asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
distlib==0.4.0
Django==6.0.3
filelock==3.25.2
gunicorn==25.3.0
packaging==26.0
pillow==12.1.1
pipenv==2026.2.1
platformdirs==4.9.4
psycopg2-binary==2.9.11
python-discovery==1.2.0
qrcode==8.2
reportlab==4.4.10
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
virtualenv==21.2.0
whitenoise==6.12.0
